In [173]:
import os
import datetime as dt
os.listdir(path="./logs")

['.ipynb_checkpoints', '20230915_210239.csv']

In [174]:
import pandas as pd
log_file = "logs/20230915_210239.csv"

In [175]:
df = pd.read_csv(log_file, names=["operation", "dtime"])

In [176]:
df1 = pd.read_csv("log.csv", names=["operation", "dtime"])

In [177]:
df3 = pd.concat([df, df1])

In [178]:
df3

   operation                dtime
0       ping  2022-09-16 15:05:31
1        now  2022-09-16 15:05:35
2       type  2022-09-16 15:05:39
3       type  2022-09-16 15:05:43
4       type  2022-09-16 15:05:47
..       ...                  ...
62      type  2023-09-15 22:32:40
63      type  2023-09-15 22:32:44
64      type  2023-09-15 22:32:48
65       sum  2023-09-15 22:32:52
66       pow  2023-09-15 22:32:56

[167 rows x 2 columns]

In [179]:
op = "type"
dl = dt.datetime(2023, 9, 15, 21, 7, 0)
dr = dt.datetime(2023, 9, 15, 21, 9, 0)

In [180]:
df3["dtime"] = df3["dtime"].apply(lambda x : dt.datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [184]:
d = dt.datetime.strptime("2022-09-16 15:05:31", "%Y-%m-%d %H:%M:%S")

In [185]:
d

datetime.datetime(2022, 9, 16, 15, 5, 31)

In [183]:
df3[(df3.operation == op) & (df3.dtime >= dl) & (df3.dtime < dr)]

   operation               dtime
12      type 2023-09-15 21:07:40
13      type 2023-09-15 21:07:44
14      type 2023-09-15 21:07:49
15      type 2023-09-15 21:07:53
16      type 2023-09-15 21:07:57
17      type 2023-09-15 21:08:01
18      type 2023-09-15 21:08:05